<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>EDit page</title>
</head>
<body>
    <form action="/update/{{ employee.id }}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <input name="eid" required value="{{ employee.eid }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="ename" required value="{{ employee.ename }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="eemail" required value="{{ employee.eemail }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="econtact" required value="{{ employee.econtact }}">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>    
</body>
</html>